.contacts-block {
    &-content {
        display: flex;
        justify-content: center;
        align-items: center;

        &__title {
            font-family: $nunito-font;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 26px;
            text-align: center;
            color: $dark-gray;
            margin-bottom: 16px;
        }

        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 4px;

            &--inline {
                display: block;
                text-align: center;
            }
        }

        &__socials {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 15px;
        }

        &__link {
            &--inline {
                display: inline;
            }
        }
    }
}