.socials {
    &-container {
        padding: 50px 0;
    }
    
    &-content {
        &__header {
            margin-bottom: 70px;

            &--title {
                font-family: $nunito-font;
                font-style: normal;
                font-weight: normal;
                font-size: 30px;
                line-height: 33px;
                text-align: center;
                color: $dark-gray;
            }
        }

        &__body {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 270px;
        }
    }
}