.success {
    &-container {
        width: 573px;
        padding: 60px 25px;

        @media screen and (max-width: $screen-md) {
            padding: 25px;
            width: 100%;
        }

        @media screen and (max-width: $screen-sm) {
            padding: 15px;
        }
    }

    &__image {
        margin-bottom: 24px;
    }

    &-info {
        &__title {
            font-family: $nunito-font;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 33px;
            text-align: center;
            color: $dark-gray;
            margin-bottom: 12px;
        }

        &__text {
            font-family: $gilroy-font;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            color: $dark-mint;
            margin-bottom: 24px;
        }

        &__button {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}