/core/cache/*
!/core/elements
!/core/elements/*
!/core/components
!/core/components/*

/connectors/config.core.php
!/connectors/example.config.core.php

/core/config/config.inc.php
!/core/config/example.config.inc.php

/manager/*
/manager/config.core.php
!/manager/example.config.core.php

!/assets
/assets/*
!/assets/components
/assets/components/phpthumbof/cache/*
!/assets/components/*
!/assets/css
!/assets/css/*
!/assets/js
!/assets/js/*
!/assets/fonts
!/assets/fonts/*
!/assets/img
!/assets/img/*
!/assets/img/tarolog
/assets/img/tarolog/*
!/assets/php
!/assets/php/*
!/assets/scss
!/assets/scss/*

/.htaccess
/config.core.php
!/.gitignore
!/favicon.ico
!/ht.access
.sass-cache
