$content-size: 1220px;
$gilroy-font: 'Gilroy', sans-serif;
$nunito-font: 'Nunito', sans-serif;

$white: #FFFFFF;
$milk: #F7F7F7;
$smoky-white: #F2F2F2;
$smoky-white-sec: #F4F4F4;
$gains: #E6E6E6;
$black: #000000;
$blue-black: #000D2D;
$gray-blue: #292F36;
$granite-gray: #343740;
$cosmic-gray: #36434C;
$dark-gray: #2E3133;
$dark-mint: #516472;
$snow-white: #FAFAFA;
$light-gray: #CCD2D2;
$mint: #4DDBDB;
$mint-sec: #DFF8F8;
$mint-turquoise: #2C8484;
$light-green: #1BADAD;
$lime-green: #69D669;
$light-cyan: #CDEEF5;

$success: #d4edda;
$success-color: #155724;
$danger: #f8d7da;

$red: #EB5757;
$dark-red: #b34242;
$light-yellow: #ECB768;

$blue: #298ada;
$dark-blue: #1879c9;
$light-grey: #E2E2E2;
$grey: #717171;